@ -0,0 +1,223 @@
/* Subplayer Page Layout */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: green;
    font-family: Arial, sans-serif;
}

/* Audio File Styling */
#audiofile {
    display: block;
    width: 40%;
    margin: 30px auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


/* Subtitles */
#subtitles {
     width: 80vw; /* Match player width */
    max-width: 853px; /* Maximum width to align with the player */
    margin: 20px auto;
    font-size: calc(1vw + 1vh); /* Responsive font size based on viewport */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Maintain the shadow for consistency */
}
#subtitles span {
    padding: 2px 5px;
    color: #2f302f;
}

#subtitles span.highlight,
#subtitles span.active-highlight,
#subtitles span.perm-highlight {
    font-weight: bold;
    padding: 2px 4px;
    border-radius: 5px;
}

#subtitles span.highlight {
    color: yellow;
    background-color: #1a8cff;
}

#subtitles span.active-highlight {
    background-color: #4285f4;
    color: #fff;
}

#subtitles span.perm-highlight {
    background-color: #ffca28;
    color: #333;
}

/* Notes Section */
#notes {
    width: 80%;
    margin: 30px auto;
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
}

#notes textarea {
    width: 100%;
    height: 150px;
    border: none;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #333;
    padding: 10px;
    resize: none;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* Buttons */
#save-button, #loop-button {
    background-color: #ff5500;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#save-button:hover, #loop-button:hover {
    background-color: #ff7700;
    transform: scale(1.05);
}

/* Player Wrapper */
/* Player Wrapper */
.player-wrapper {
    position: relative;
    width: 80vw; /* Adjust the width as needed */
    /* Remove the height property */
    padding-top: 45%; /* 16:9 Aspect Ratio */
    margin: 20px auto;
    max-width: 853px; /* Maximum width */
}

/* Player */
#player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/* Adjusting for smaller screens */
@media (max-width: 768px) {
    .player-wrapper, #subtitles {
        width: 95vw; /* Increase width on smaller screens */
        height: 52.75vw; /* Adjust height to maintain a 9:5 aspect ratio */
    }

    #subtitles {
        font-size: calc(1.5vw + 1.5vh); /* Slightly larger subtitles on smaller screens */
    }
}

.icon-button {
    width: 30px; /* Adjust to your preferred size */
    height: 30px; /* Maintain aspect ratio */
    cursor: pointer;
    margin: 0 5px; /* Adjust based on layout spacing */
    transition: opacity 0.3s ease; /* Smooth transition for opacity changes */
}


/* Remove specific background color styles if any */

.mark-in-progress, .mark-completed, .remove-media-status {
    background-color: transparent; /* Make the background transparent */
}

.icon-button:hover {
    transform: scale(1.1); /* Slight increase in size on hover for better interaction feedback */
}

/* Subplayer.css Adjustments */
@media (max-width: 768px) {
    .player-wrapper, #subtitles {
        width: 100%; /* Ensures full width */
        padding-top: 0; /* If you had padding-top for aspect ratio, reset it as needed */
    }

    #subtitles {
        font-size: smaller; /* Adjust font size for smaller screens if necessary */
    }
     .icon-button {
        width: 25px; /* Smaller icons on narrow screens */
        height: 25px;
    }
}

.subplayer-page{
    background-color:#F9F8FA;
}
.buttons-container {
    display: flex; /* Align child divs (button-group) next to each other */
    justify-content: center; /* Centers the button groups within the container */
    gap: 10px; /* Space between each button group */
}

.button-group {
    position: relative; /* For tooltip positioning */
    display: inline-flex; /* Keep each group inline and enable flex behaviors */
    flex-direction: column; /* Stack icon and tooltip text vertically */
    align-items: center; /* Center-align children horizontally */
}

.tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%); /* Centers the tooltip */
    opacity: 0;
    transition: opacity 0.6s;
}

.button-group:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}


.button-group img {
    width: 40px; /* Adjust the size of the icons */
    height: auto; /* Maintain aspect ratio */
    cursor: pointer; /* Change cursor on hover */
    margin-right: 10px; /* Space out icons */
}

.button-group img:last-child {
    margin-right: 0; /* Remove margin for the last icon */
}

#highlighter-icon {
    filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(93%) contrast(88%);
    transition: filter 0.3s ease; /* Smooth transition for color change */
}
