{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Site{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'subplayer/css/styles.css' %}">
</head>
<body>

<header>
    {% if not hide_nav %}
    <nav>
<ul>
            <li>
                <a href="{% url 'home' %}" class="nav-icon" data-text="Home">
                    <img src="{% static 'subplayer/house_icon.jpeg' %}" alt="Home">
                </a>
            </li>
            <li>
                <a href="{% url 'highlights' %}" class="nav-icon" data-text="Highlights">
                    <img src="{% static 'subplayer/highlight_icon.png' %}" alt="Highlights">
                </a>
            </li>
            <li>
                <a href="{% url 'my_media' %}" class="nav-icon" data-text="My Media">
                    <img src="{% static 'subplayer/saved_icon.png' %}" alt="My Media">
                </a>
            </li>
        </ul>    </nav>
       {% if user.is_authenticated %}
    <p>Total words from videos: {{ user.profile.total_word_count }}</p>
        <p>Total highlights: {{ user.profile.total_highlights }}</p>
        <p>Total video minutes watched: {{ request.user.profile.total_minutes }}</p>


{% endif %}
    {% endif %}
</header>





    {% block content %}
    <!-- Page specific content will go here -->
    {% endblock %}

    <footer>
        <!-- Common footer content goes here -->
    </footer>
</body>
</html>