{% extends 'base.html' %}

{% block content %}
<h2>Media - {{ request.resolver_match.kwargs.status|title }}</h2>
{% for media in user_media_statuses %}
    <div>
        <!-- Display media information -->
        <p>{{ media.media.title }}</p>
                <p>Hi</p>

        <!-- Remove button -->
        <form action="{% url 'remove_media_status' media.media_id %}" method="post">
            {% csrf_token %}
            <button type="submit">Remove</button>
        </form>
    </div>
{% endfor %}










<nav id="sidebarr">
        <div class="float-top">
            <div class="sidebar-controls">
                <button class="new-chat"><i class="fa fa-plus"></i> New chat</button>
                <button class="hide-sidebar"><i class="fa fa-chevron-left"></i></button>
            </div>
            <ul class="conversations">
                <li class="grouping">Today</li>
                <li class="active">
                    <button class="conversation-button"><i class="fa fa-message fa-regular"></i> This is a conversation title</button>
                    <div class="fade"></div>
                    <div class="edit-buttons">
                        <button><i class="fa fa-edit"></i></button>
                        <button><i class="fa fa-trash"></i></button>
                    </div>
                </li>
                <li class="grouping">Yesterday</li>
                <li>
                    <button class="conversation-button"><i class="fa fa-message fa-regular"></i> This is a conversation title</button>
                    <div class="fade"></div>
                    <div class="edit-buttons">
                        <button><i class="fa fa-edit"></i></button>
                        <button><i class="fa fa-trash"></i></button>
                    </div>
                </li>
                <li>
                    <button class="conversation-button"><i class="fa fa-message fa-regular"></i> This is a very super long conversation title that doesn't fit</button>
                    <div class="fade"></div>
                    <div class="edit-buttons">
                        <button><i class="fa fa-edit"></i></button>
                        <button><i class="fa fa-trash"></i></button>
                    </div>
                </li>
                <li class="grouping">Previous 7 days</li>
                <li>
                    <button class="conversation-button"><i class="fa fa-message fa-regular"></i> This is a conversation title</button>
                    <div class="fade"></div>
                    <div class="edit-buttons">
                        <button><i class="fa fa-edit"></i></button>
                        <button><i class="fa fa-trash"></i></button>
                    </div>
                </li>
                <li>
                    <button class="conversation-button"><i class="fa fa-message fa-regular"></i> This is a conversation title</button>
                    <div class="fade"></div>
                    <div class="edit-buttons">
                        <button><i class="fa fa-edit"></i></button>
                        <button><i class="fa fa-trash"></i></button>
                    </div>
                </li>
                <li>
                    <button class="conversation-button"><i class="fa fa-message fa-regular"></i> This is a conversation title</button>
                    <div class="fade"></div>
                    <div class="edit-buttons">
                        <button><i class="fa fa-edit"></i></button>
                        <button><i class="fa fa-trash"></i></button>
                    </div>
                </li>
                <li>
                    <button class="conversation-button"><i class="fa fa-message fa-regular"></i> This is a conversation title</button>
                    <div class="fade"></div>
                    <div class="edit-buttons">
                        <button><i class="fa fa-edit"></i></button>
                        <button><i class="fa fa-trash"></i></button>
                    </div>
                </li>
                <li>
                    <button class="conversation-button"><i class="fa fa-message fa-regular"></i> This is a conversation title</button>
                    <div class="fade"></div>
                    <div class="edit-buttons">
                        <button><i class="fa fa-edit"></i></button>
                        <button><i class="fa fa-trash"></i></button>
                    </div>
                </li>
                <li>
                    <button class="conversation-button"><i class="fa fa-message fa-regular"></i> This is a conversation title</button>
                    <div class="fade"></div>
                    <div class="edit-buttons">
                        <button><i class="fa fa-edit"></i></button>
                        <button><i class="fa fa-trash"></i></button>
                    </div>
                </li>
                <li>
                    <button class="conversation-button"><i class="fa fa-message fa-regular"></i> This is a conversation title</button>
                    <div class="fade"></div>
                    <div class="edit-buttons">
                        <button><i class="fa fa-edit"></i></button>
                        <button><i class="fa fa-trash"></i></button>
                    </div>
                </li>
                <li>
                    <button class="conversation-button"><i class="fa fa-message fa-regular"></i> This is a conversation title</button>
                    <div class="fade"></div>
                    <div class="edit-buttons">
                        <button><i class="fa fa-edit"></i></button>
                        <button><i class="fa fa-trash"></i></button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="user-menu">
            <button>
                <i class="user-icon">u</i>
                username
                <i class="fa fa-ellipsis dots"></i>
            </button>
            <ul>
                <li><button>My plan</button></li>
                <li><button>Custom instructions</button></li>
                <li><button>Settings &amp; Beta</button></li>
                <li><button>Log out</button></li>
            </ul>
        </div>
    </nav>
<script>
const sidebar = document.querySelector("#sidebarr");
const hide_sidebar = document.querySelector(".hide-sidebar");
const new_chat_button = document.querySelector(".new-chat");

hide_sidebar.addEventListener( "click", function() {
    sidebar.classList.toggle( "hidden" );
} );
</script>
