{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% load static %}
<div class="container">
    <div class="search-container">
        <form action="{% url 'add_media' %}" method="post" class="search-box">
            {% csrf_token %}
            <input type="text" id="youtube_url" name="youtube_url" class="search-input" placeholder="Enter YouTube URL here..." required>
        </form>
    </div>

    <div class="media-grid">
        {% for media in media %}
            {% if media.media_type == 'video' %}
                <div class="media-item">
                    <a href="{% url 'video_detail' media.media_id %}">
                        <div class="thumbnail-container">
                            <img src="{{ media.thumbnail_url }}" alt="{{ media.title }}" class="media-thumbnail">
                        </div>
                        <div class="media-title">{{ media.title }}</div>
                                               

                    </a>
                </div>
            {% endif %}
        {% empty %}
            <p class="no-media">No videos found.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
