
<!DOCTYPE html>
{% load static %}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'subplayer/styles.css' %}">

</head>

<body>

  <div id="podcast-cover">
    <img src="{% static 'subplayer/cover.jpeg' %}" alt="Podcast Cover">
  </div>



<audio id="audiofile"  controls="controls" type="audio/mp3"></audio><br>
 <div id="player"></div>



  <div id="subtitles"></div>

  <button id="loop-button">Loop Mode</button>

  <div id="notes">
    <textarea id="note-input" placeholder="方法"></textarea>
    <button id="save-button">丰富</button>
  </div>


  
   {{ media|json_script:"media" }}

    <script>
        // Get the JSON data from the HTML
        const media = JSON.parse(document.getElementById('media').textContent);
        const mediaType = media.media_type;

        if (mediaType === 'audio') {
            const audioPlayer = document.getElementById('audiofile');
            audioPlayer.src = "{% static 'subplayer/audio/' %}" + media.media_id + ".mp3";
            console.log("1");
        } else {
            console.log("23434");
            document.getElementById('audiofile').style.display = 'none';
        }
    </script>

    <p>Media Type: {{ media.media_type }}</p>

    <!-- Conditionally include one of two templates based on media.media_type -->
    {% if media.media_type == 'audio' %}
        {% include 'subtitles.html' with media=media %}
    {% else %}
        {% include 'subtitlesforvideo.html' with media=media %}
    {% endif %}

</body>