{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% load static %}

<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" type="text/css" href="{% static 'subplayer/css/subplayer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'subplayer/css/sidebar.css' %}">
    <meta charset="UTF-8">
    <title>Your Title</title>
    <div id="media-status" data-status="{{ media_status }}" style="display:none;"></div>

</head>
  {% if user.is_authenticated %}
    <p>Total words from videos: {{ user.profile.total_word_count }}</p>
        <p>Total highlights: {{ user.profile.total_highlights }}</p>
        <p>Total video minutes watched: {{ request.user.profile.total_minutes }}</p>


{% endif %}
<body class="subplayer-page">

<div class="dashboard">
    <aside class="sidebar">
            <h2>Highlights</h2>
            <ul id="highlight-list">
                {% for highlight in highlights %}
                <li>
                    <div class="highlight-container">
                        <a href="#" data-start-time="{{ highlight.start_time }}">{{ highlight.highlighted_text }}</a>
                        <img src="{% static 'subplayer/trash.png' %}" alt="Delete" class="delete-highlight" data-highlight-id="{{ highlight.id }}">
                    </div>
                </li>
                {% empty %}
                    <li>No highlights found.</li>
                {% endfor %}
            </ul>

            <!-- Navigation at the bottom of the sidebar -->
           <!-- Sidebar Navigation in subplayer.html -->
<nav class="sidebar-nav">
    <ul>
        <li>
            <a href="{% url 'home' %}" title="Home">
                <img src="{% static 'subplayer/house_icon.jpeg' %}" alt="Home">
            </a>
        </li>
        <li>
            <a href="{% url 'highlights' %}" title="Highlights">
                <img src="{% static 'subplayer/highlight_icon.png' %}" alt="Highlights">
            </a>
        </li>
        <li>
            <a href="{% url 'my_media' %}" title="My Media">
                <img src="{% static 'subplayer/saved_icon.png' %}" alt="My Media">
            </a>
        </li>
    </ul>
</nav>


        </aside>

    <div class="media-content">
        <audio id="audiofile" controls="controls" type="audio/mp3"></audio>
        <div class="player-wrapper">
            <div id="player"></div>
        </div>



        <div id="subtitles"></div>
        <div id="definitionContainer"></div>
      <div class="buttons-container">
<div class="buttons-container">
    <!-- Single status icon container -->
    <div class="button-group">
        <img id="status-icon" src="{% static 'subplayer/set-status.png' %}" alt="Set Status" class="icon-button" data-status="set-status">
        <span class="tooltip-text" id="status-tooltip">Set Status</span>
    </div>
    <div class="button-group">
        <img id="loop-icon" src="{% static 'subplayer/loopoff.png' %}" alt="Loop Off" class="icon-button" style="cursor:pointer;">
        <span class="tooltip-text">Loop Mode: Select Text, Turn on Loop Mode (CMD Key)</span>
    </div>
    <div class="button-group">
        <img id="highlight-icon" src="{% static 'subplayer/black-high.png' %}" alt="Highlighter" class="icon-button" style="cursor:pointer;">
        <span class="tooltip-text">Highlight Mode: Select Text Then Click Shift</span>
    </div>
</div>


</div>
<!-- Existing content here... -->


<!-- Continue with your existing HTML... -->




        <div id="notes">
            <textarea id="note-input" placeholder="方法"></textarea>
            <button id="save-button">丰富</button>
        </div>

        <div id="viewed-media-container">here</div>
        <div id="highlight-display"></div>
    </div>
</div>


<h1>头城</h1>
<div id="media-status" data-status="{{ media_status }}"></div>


    <script>
        // Get the JSON data from the HTML
        var media = JSON.parse('{{ media_json|escapejs }}');
        var mediaId=media.media_id;
        var test2 = media.url; // if you added 'url': media.subtitle_file.url to media_dict]
        console.log("location" +test2);
        const mediaType = media.media_type;
        const audioPlayer = document.getElementById('audiofile');
        var userId = "{{ request.user.id }}";
        var profileId = "{{ request.user.profile.id }}";

        if (mediaType === 'audio') {
            audioPlayer.src = "{% static 'subplayer/audio/' %}" + media.media_id + ".mp3";
        } else {
            console.log("23434");
            document.getElementById('audiofile').style.display = 'none';
        }

    // Setup Highlight Links
    const highlights = document.querySelectorAll('#highlight-list a');
    highlights.forEach(highlight => {
        highlight.addEventListener('click', function(e) {
            e.preventDefault();
            const startTime = parseFloat(this.getAttribute('data-start-time'));
            if (player && !isNaN(startTime)) {
                player.seekTo(startTime, true);
            }
        });
    });

        function setupHighlightLinks() {
    const highlights = document.querySelectorAll('#highlight-list a');
    highlights.forEach(highlight => {
        highlight.addEventListener('click', function(e) {
            e.preventDefault();
            const startTime = parseFloat(this.getAttribute('data-start-time')); // Ensure you're setting this attribute when generating the list
            if (player && !isNaN(startTime)) {
                player.seekTo(startTime, true);
            }
        });
    });
}

// Call this function after the list is generated/updated
setupHighlightLinks();




</script>

{% if media.media_type == 'audio' %}
    {% include 'subtitles.html' with media=media %}
    <script src="{% static 'subplayer/js/subtitles.js' %}"></script>

{% else %}
    <script src="{% static 'subplayer/js/subtitles_video.js' %}"></script>
    <script src="{% static 'subplayer/js/dc.js' %}"></script>

{% endif %}
<script>  var DICT_BASE_PATH = "{% static 'subplayer/pop_dic/' %}";
</script>
</body>
<script>
document.addEventListener('DOMContentLoaded', function() {
    // Initial setup functions

    setupHighlightLinks();
    toggleHighlightMode();
    initializeStatusUI();
    attachSingleStatusIconEventListener();
});

function setupHighlightLinks() {
    const highlights = document.querySelectorAll('#highlight-list a');
    highlights.forEach(highlight => {
        highlight.addEventListener('click', function(e) {
            e.preventDefault();
            const startTime = parseFloat(this.getAttribute('data-start-time'));
            if (player && !isNaN(startTime)) {
                player.seekTo(startTime, true);
            }
        });
    });
}

function toggleHighlightMode() {
    document.addEventListener('keydown', function(event) {
        if (event.key === "Shift") {
            document.getElementById('highlight-icon').src = '{% static "subplayer/yellow-high.png" %}';
        }
    });

    document.addEventListener('keyup', function(event) {
        if (event.key === "Shift") {
            document.getElementById('highlight-icon').src = '{% static "subplayer/black-high.png" %}';
        }
    });
}

function initializeStatusUI() {
    console.log('Initializing status UI');
    const mediaStatusElement = document.getElementById('media-status');
    const initialStatus = mediaStatusElement.getAttribute('data-status');
    console.log('Initial status:', initialStatus);
    updateSingleStatusIcon(initialStatus);
}

function attachSingleStatusIconEventListener() {
    const statusIcon = document.getElementById('status-icon');
    statusIcon.addEventListener('click', function() {
        let newStatus;
        switch (this.dataset.status) {
            case 'in_progress':
                newStatus = 'completed';
                break;
            case 'completed':
                newStatus = 'set-status';
                break;
            case 'set-status':
            default:
                newStatus = 'in_progress';
                break;
        }
        toggleStatus(newStatus);
    });
}

async function toggleStatus(newStatus) {
    console.log("Toggle status called:", newStatus);
    const mediaId = '{{ media.media_id }}';  // Adjust this dynamically as needed
    const currentTime = player.getCurrentTime();
    currentStatus=newStatus;
    if (currentStatus==='set-status'){
        lastUpdateTime=0;
    }
    try {
        let url = `/media/update_status/${mediaId}/${newStatus}/`;
        let data = { status: newStatus, current_time: currentTime };
        const response = await fetch(url, {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data)
        });

        if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
        }

        const result = await response.json(); // Ensure this line is inside try-catch
        console.log("Response received from updateMediaStatus:" + newStatus, result); // Check what's logged here

        if (result && result.status === 'success') {
            updateSingleStatusIcon(newStatus);
        } else {
            console.error('Failed to update status. Response:', result);
        }
    } catch (error) {
        console.error('Error updating media status:', error);
    }
}


async function updateMediaStatus(mediaId, newStatus) {
    let url = `/media/update_status/${mediaId}/${newStatus}/`;
    let data = { status: newStatus, current_time: player.getCurrentTime() };

    try {
        const response = await fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')  // Ensure CSRF token is included
            },
            body: JSON.stringify(data)
        });

        const result = await response.json();
        if (response.ok) {
            console.log('Update status successful:', result.message);
            // Update the status in your JavaScript and DOM
            document.getElementById('media-status').setAttribute('data-status', result.newStatus);
        } else {
            throw new Error('Failed to update status');
        }
    } catch (error) {
        console.error('Error updating media status:', error);
    }
}


function updateSingleStatusIcon(status) {
    console.log("updatedstatusicon")
    const statusIcon = document.getElementById('status-icon');
    const statusTooltip = document.getElementById('status-tooltip');

    switch (status) {
        case 'in_progress':
            statusIcon.src = '{% static "subplayer/in-prog.png" %}';
            statusTooltip.textContent = 'In Progress';
            break;
        case 'completed':
            statusIcon.src = '{% static "subplayer/complete-check.png" %}';
            statusTooltip.textContent = 'Completed';
            break;
        default:
            statusIcon.src = '{% static "subplayer/status.png" %}';
            statusTooltip.textContent = 'Set Status';
            break;
    }
    statusIcon.dataset.status = status; // Update the data-status attribute based on the current status
}

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script>







<style>
    /* Button General Styles */
.media-content button {
    cursor: pointer;
    border: none;
    outline: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    font-size: 14px;
    text-transform: uppercase;
    transition: background-color 0.3s, transform 0.2s;
}

/* Specific Styles for Each Button */


/* Additional styles for better layout */
.media-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-wrapper + div, /* Directly following the player wrapper */
.audio-speed-display + div { /* Directly following the audio speed display */
    margin-top: 20px;
}
.active {
    opacity: 1; /* Fully opaque */
}

.dimmed {
    opacity: 0.5; /* Half transparent */
    cursor: not-allowed;
}

#dictionary-popup {
    position: absolute;
    display: none;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 300px;
    z-index: 1000;
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.4;
}

#dictionary-popup.show {
    display: block;
    animation: fadeIn 0.3s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}






</style>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
                console.log("fuckyou");

        var media = JSON.parse('{{ media_json|escapejs }}');


</script>


</html>

{% endblock %}




