
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% load static %}
{% load static %}


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'subplayer/styles.css' %}">

    <meta charset="UTF-8">
    <title>Your Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'subplayer/styles.css' %}">
</head>
<body>
  <script src="{% static 'subplayer/convertForLongAudio.js' %}"></script>

    <div id="podcast-cover">
          <img src="{% static 'subplayer/cover.jpeg' %}" alt="Podcast Cover">
    </div>



<audio id="audiofile"  controls="controls" type="audio/mp3"></audio><br>
 <div id="player"></div>



    <div id="subtitles"></div>
<div id="audio-speed-display" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background: rgba(0,0,0,0.5); color: white; padding: 20px; border-radius: 10px; font-size: 2em;"></div>

    <button id="loop-button">Loop Mode</button>

    <div id="notes">
        <textarea id="note-input" placeholder="方法"></textarea>
        <button id="save-button">丰富</button>
    </div>

    <div id="viewed-media-container">here</div>
    '
    <div id="highlight-display"></div>
'

    <script>
        // Get the JSON data from the HTML
        var media = JSON.parse('{{ media_json|escapejs }}');
        var mediaId=media.media_id;

        var test2 = "{% static 'subplayer/subtitle_json/' %}" + mediaId + ".json"        
        const mediaType = media.media_type;
        const audioPlayer = document.getElementById('audiofile');
        var userId = "{{ request.user.id }}";
        var profileId = "{{ request.user.profile.id }}";

        if (mediaType === 'audio') {
            audioPlayer.src = "{% static 'subplayer/audio/' %}" + media.media_id + ".mp3";
        } else {
            console.log("23434");
            document.getElementById('audiofile').style.display = 'none';
        }


    </script>

  <p>Media Type: {{ media.media_type }}</p>

<!-- Conditionally include one of two templates based on media.media_type -->
{% if media.media_type == 'audio' %}
    {% include 'subtitles.html' with media=media %}
        <script src="{% static 'subplayer/js/subtitles.js' %}"></script>

{% else %}
        <script src="{% static 'subplayer/js/subtitles_video.js' %}"></script>
{% endif %}

</body>
</html>{% endblock %}




